body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282a36;
    color: #f8f8f2;
}

.container {
    text-align: center;
    background-color: #8be9fd;
    width: 500px;
    margin: 0 auto;
    color: #6272a4;
    border: 3px solid #44475a;
    border-radius: 10px;
    margin-top: 5vh;
}

button {
    background-color: #6272a4;
    color: #f8f8f2;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 20px;
}
h3 {
    color: #f8f8f2;
    font-size: 48pt;
    text-align: center;
    background-color: #6273a4;
    width: 500px;
    margin: 0 auto;
    margin-top: 5vh;
    border: 1px solid #44475a;
    border-radius: 7px;
}
body > footer:nth-child(4) > span:nth-child(1) {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Elemento | http://127.0.0.1:5500/index.html */

body > footer:nth-child(4) > span:nth-child(1) > strong:nth-child(1) > img:nth-child(1) {
    border-radius: 50%;
    width: 16px;
  }

#minutos, #segundos {
    color: #6272A4;
    background-color: #f8f8f2;
    border-radius: 7px;
    width: clamp(40px, 10vw, 100px);
    text-align: center;
}
#comecar:hover{
    background: #6273a4b5;
}
#comecar:active{
    background: #6273a4;
}

@media (max-width: 530px) {
    body{
        margin: 0;
    }
    .container, h3{
        width: 100vw;
    }
}